{% extends "layout.html" %}
{% block title %}
login

{% endblock %}
{% block content %}
{% include "flash_messages.html" %}
    <form method="POST" action="" class="login-form">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend class="form-legend">Log in</legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username" class="form-label">Username</label>
                    {{ form.username(class="form-control", id="username", placeholder="Enter your username") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password" class="form-label">Password</label>
                    {{ form.password(class="form-control", id="password", placeholder="Enter your password") }}
                </div>
            </div>
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger">{{ ', '.join(errors) }}</div>
            {% endfor %}
            <div class="form-row">
                <div class="form-group col-md-6 m-3">
                    {{ form.submit(class="btn btn-primary btn-block", value="Log in") }}
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}