{% extends "layout.html" %}
{% block title %}
user type
{% endblock %}
{% block content %}
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}  
            {% if messages %}  
                {% for category, message in messages %}  
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}  
            {% endif %}  
        {% endwith %}  
    </div>
    <form method="POST" action="" class="login-form">
        {{ form.csrf_token() }}
        <fieldset class="form-group">
            <legend class="form-legend">Log in</legend>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="usertype" class="form-label">usertype</label>
                    {{ form.usertype(class="form-control", id="usertype") }}
                </div>
            </div>
            {% for field, errors in form.errors.items() %}
                <div class="alert alert-danger">{{ ', '.join(errors) }}</div>
            {% endfor %}
            <div class="form-row">
                <div class="form-group col-md-6 m-4">
                    {{ form.submit(class="btn btn-primary btn-block", value="Select user") }}
                </div>
            </div>
        </fieldset>
    </form>

{% endblock %}