{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                    <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %}  
    {% if is_admin %}
        <h1>Welcome admin</h1>
        <a href="{{url_for('users.list')}}">browse users</a><br>
    {% elif is_anonymous %}
        <h1>Welcome guest</h1>
    {% elif is_regular %}
        <h1>Welcome user</h1>
    {% endif %}
{% endblock %}

