{% extends "layout.html" %}
{% block title %}
create quiz 
{% endblock %}
{% block content %}
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}  
            {% if messages %}  
                {% for category, message in messages %}  
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}  
            {% endif %}  
        {% endwith %}  
    </div>
    <form method="POST" action="">
    {{ form.csrf_token }}
    <fieldset class="form-group">
        <legend>Create quiz</legend>
        <div class="mb-3">
            {{ form.title.label(class="form-label") }} {{ form.title(class="form-control") }} 
        </div>
        <div class="mb-3 form-check">
            {{ form.active(class="form-check-input") }} {{ form.active.label(class="form-check-label") }} 
        </div>
        <div class="mb-3">
            {{ form.comment.label(class="form-label") }}
            {{ form.comment(class="form-control") }} 
        </div>
        {{ form.submit(class="btn btn-primary")}}
    </fieldset>
    </form>

{% endblock %}