{% extends "layout.html" %}
{% block title %}
Quizes home
{% endblock %}
{% block content %}
    {% include "flash_messages.html" %}

    <h1>Quizes</h1>
    {% if is_admin %}
    <div class="card m-3" id="create-quiz">
        <a href="{{ url_for('quizes.create_quiz') }}" class="btn btn-primary">Create quiz</a>
    </div>
    {% endif %}

    {% for quiz in quizes if quiz.active %}
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">{{ quiz.title }}</h5>
                <p class="card-text">{{ quiz.comment }}</p>
                    <a href="{{ url_for('quizes.read_quiz', id=quiz.id) }}" class="btn btn-primary col">Read</a>
                    {% if is_admin %}
                        <a href="{{ url_for('questions.create_question', quiz_id=quiz.id) }}" class="btn btn-primary">Add question</a>
                        <a href="{{ url_for('quizes.update_quiz', id=quiz.id) }}" class="btn btn-primary">Update</a>
                        <a href="{{ url_for('quizes.review', id=quiz.id) }}" class="btn btn-primary">Review</a> 
                        <a href="{{ url_for('quizes.delete_quiz', id=quiz.id) }}" class="btn btn-danger">Delete</a>
                        {#
                            #}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}