{% extends "layout.html" %}
{% block title %}
read quiz
{% endblock %}
{% block content %}
    <div id="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}  
            {% if messages %}  
                {% for category, message in messages %}  
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}  
            {% endif %}  
        {% endwith %}  
    </div>
    {% if quiz %}
    <div class="quiz-read">
        <h1>{{ quiz['title'] }}</h1>
        <p>active: {{ quiz['active'] }}</p>
        <p>comment: {{ quiz['comment'] }}</p>
        <a href="{{ url_for('quizes.delete_quiz', id=quiz['id']) }}">delete quiz</a> <br>
        <a href="{{ url_for('quizes.update_quiz', id=quiz['id']) }}">update quiz</a> <br>
        <a href="{{ url_for('questions.create_question', quiz_id=quiz['id']) }}">create question</a>
        {% if questions %}
            <div class="quiz-questions">
                {% for question in questions %}
                    <div class="question-read">
                        <h2>{{ question['title'] }}</h2>
                        <p>{{ question['content'] }}</p>
                        <p>{{ question['answer_type'] }}</p>
                        <p>{{ question['category'] }}</p>
                        <a href="{{ url_for('questions.delete_question', id=question['id']) }}">delete</a>
                        <a href="{{ url_for('questions.update_question', id=question['id']) }}">update</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% elif quizes %}
        {% for question in questions %}
            <div class="question-read">
                <h1>{{ question.title }}</h1>
                <p>{{ question.content }}</p>
                <p>{{ question.answer_type }}</p>
                <p>{{ question.category }}</p>
                <a href="{{ url_for('questions.delete', question_id=question['id']) }}">delete</a>
                <a href="{{ url_for('questions.update', question_id=question['id']) }}">update</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}